<div>
  <!-- Page header -->
  <data:header-menu data-titre="{{ 'Common.TitreAdministration'| translate }}" data-niveau-menu="7" data-roothub="roothub"></data:header-menu>
  <!-- Contenu -->
  <div class="page-content">

    <!-- En cas d'erreur -->
    <data:display-error></data:display-error>

    <!-- menus -->
    <table class="admin-list">
      <tbody>
        <tr data-ng-repeat="m in user.menus" data-ng-if="m.niveau == 7">
          <td align="center">
            <i class="fa fa-lg {{ m.image}}"></i>
          </td>
          <td>
            {{ getCount(m.cle) }}
          </td>
          <td>
            <a href="{{ m.url }}" data-ng-class="{'sel' : path == m.url}">
              {{ m.description }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Page footer -->
  <data:footer></data:footer>
</div>
