<div>
  <!-- Page header -->
  <data:header-menu data-titre="{{ 'Couleur.SousTitre'| translate }}" data-niveau-menu="6" data-roothub="roothub"></data:header-menu>
  <!-- Contenu -->
  <div class="page-content">
    <form name="saisie" novalidate>
      <table class="admin-edit">
        <thead>
          <tr>
            <th>
              <span data-ng-if="cle > 0">{{ 'Couleur.TitreEdit' | translate }}</span>
              <span data-ng-if="!cle || cle < 0">{{ 'Couleur.TitreAdd' | translate }}</span>
            </th>
          </tr>
          <tr data-ng-show="error">
            <td>
              <!-- en cas d'erreur -->
              <data:display-error></data:display-error>
            </td>
          </tr>
        </thead>
        <tbody>
          <!-- Nom -->
          <tr>
            <td>
              <label for="nom">{{ 'Couleur.LblNom' | translate }}</label><br />
              <input type="text" id="nom" name="nom" style="width:400px;"
                     data-ng-model="couleur.nom" data-ng-maxlength="100" maxlength="101" required />
              <div data-ng-show="saisie.nom.$dirty && saisie.nom.$invalid">
                <div class="error-message" data-ng-show="saisie.nom.$error.required">
                  {{ 'Couleur.RequisNom' | translate }}
                </div>
                <div class="error-message" data-ng-show="saisie.nom.$error.maxlength">
                  {{ 'Couleur.MaxLenghtNom' | translate }}
                </div>
              </div>
            </td>
          </tr>
          <!-- Code couleur -->
          <tr>
            <td>
              <label for="code">{{ 'Couleur.LblCode' | translate }}</label><br />
              <data-color-chooser data-ng-model="couleur.code" key="couleurCasque" data-hide-code="true"></data-color-chooser>
              <div data-ng-show="saisie.code.$dirty && saisie.code.$invalid">
                <div class="error-message" data-ng-show="saisie.code.$error.required">
                  {{ 'Couleur.RequisCode' | translate }}
                </div>
              </div>
            </td>
          </tr>
          <!-- Description -->
          <tr>
            <td>
              <label for="description">{{ 'Couleur.LblDescription' | translate }}</label><br />
              <textarea type="text" id="description" name="description" style="width:400px;height:150px;"
                        data-ng-model="couleur.description"></textarea>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="button">
              <span class="btn btn-submit" data-ng-click="saveModif()" data-ng-show="saisie.$valid && !processing">{{ 'Common.BoutonEnregistrer' | translate }}&nbsp;<i class="fa fa-check"></i></span>
              <i class="fa fa-circle-o-notch fa-spin gray" data-ng-show="processing"></i>
              &nbsp;&nbsp;<a href="#/couleur">{{ 'Common.BoutonAnuller' | translate }}</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
  <!-- Page footer -->
  <data:footer></data:footer>
</div>
