<div>
  <!-- Page header -->
  <data:header-menu data-titre="{{ 'Fournisseur.SousTitre'| translate }}" data-niveau-menu="6" data-roothub="roothub"></data:header-menu>
  <!-- Contenu -->
  <div class="page-content">
    <form name="saisie" novalidate>
      <table class="admin-edit">
        <thead>
          <tr>
            <th>
              <span>{{ 'Fournisseur.TitreDetail' | translate }}</span>
            </th>
          </tr>
          <tr data-ng-show="error">
            <td>
              <!-- en cas d'erreur -->
              <data:display-error></data:display-error>
            </td>
          </tr>
        </thead>
        <tbody>
          <!-- Nom -->
          <tr>
            <td>
              <label for="nom">{{ 'Fournisseur.LblNom' | translate }}</label><br />
              <span class="info-readonly">{{ fournisseur.nom }}</span>
            </td>
          </tr>
          <!-- email -->
          <tr>
            <td>
              <label for="email">{{ 'Fournisseur.LblEmail' | translate }}</label><br />
              <a hreh="mailto:{{ fournisseur.email }}" clas class="info-readonly" data-ng-show="fournisseur.email">{{ fournisseur.email }}</a>
              <span class="info-readonly" data-ng-show="!fournisseur.email">{{ 'Common.NoEmail' | translate }}</span>
            </td>
          </tr>
          <!-- Adresse Commande -->
          <tr>
            <td>
              <label for="adresseCommande">{{ 'Fournisseur.LblAdresseCommande' | translate }}</label><br />
              <span class="info-readonly" data-ng-show="fournisseur.adresseCommande" data-ng-bind-html="encode(fournisseur.adresseCommandeHtml)"></span>
              <span class="info-readonly" data-ng-show="!fournisseur.adresseCommande">{{ 'Common.NoAdresse' | translate }}</span>
            </td>
          </tr>
          <!-- Adresse livraison -->
          <tr>
            <td>
              <label for="adresseLivraison">{{ 'Fournisseur.LblAdresseLivraison' | translate }}</label><br />
              <span class="info-readonly" data-ng-show="fournisseur.adresseLivraison" data-ng-bind-html="encode(fournisseur.adresseLivraisonHtml)"></span>
              <span class="info-readonly" data-ng-show="!fournisseur.adresseLivraison">{{ 'Common.NoAdresse' | translate }}</span>
            </td>
          </tr>

          <!-- les pièces du fournisseur -->
          <tr>
            <td>
              {{ 'FournisseurPiece.Titre' | translate }}<br />
              <table class="admin-list">
                <thead>
                  <tr>
                    <th>{{ 'FournisseurPiece.LblTypePiece' | translate }}</th>
                    <th title="{{ 'FournisseurPiece.TipsPrix' | translate }}">{{ 'FournisseurPiece.LblPrix' | translate }}</th>
                    <th title="{{ 'FournisseurPiece.TipsFrais' | translate }}">{{ 'FournisseurPiece.Lblfrais' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="p in pieces" data-ng-show="p.fournisseurCle == fournisseur.cle">

                    <td title="{{ p.description }}" align="center">
                      {{ p.nom }}
                    </td>
                    <td align="right">
                      <span data-ng-show="p.prixUnitaire">{{ p.prixUnitaire | number : 2 }}&nbsp;€</span>
                    </td>
                    <td align="right">
                      <span data-ng-show="p.frais">{{ p.frais | number : 2 }}&nbsp;€</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="button">
              <i class="fa fa-circle-o-notch fa-spin gray" data-ng-show="processing"></i>
             <a href="#/fournisseur">{{ 'Common.BoutonRetour' | translate }}</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
  <!-- Page footer -->
  <data:footer></data:footer>
</div>
