<div>
  <!-- Page header -->
  <data:header-menu data-titre="{{ 'Casque.SousTitre'| translate }}" data-niveau-menu="6"></data:header-menu>
  <!-- Contenu -->
  <div class="page-content">
    <form name="saisie" novalidate>
      <table class="admin-edit">
        <thead>
          <tr>
            <th colspan="2">
              <span>{{ 'Casque.TitreDetail' | translate }}</span>
            </th>
          </tr>
          <tr data-ng-show="error">
            <td colspan="2">
              <!-- en cas d'erreur -->
              <data:display-error></data:display-error>
            </td>
          </tr>
        </thead>
        <tbody>
          <!-- Nom -->
          <tr>
            <td>
              <label for="nom">{{ 'Casque.LblNom' | translate }}</label><br />
              <span class="info-readonly">{{ casque.nom }}</span>
            </td>
            <!-- Photo -->
            <td rowspan="2">
              <label for="photo">{{ 'Casque.LblPhoto' | translate }}</label><br />
              <img data-ng-src="{{ casque.photoUrl }}" height="75" data-ng-show="casque.photoUrl" />
            </td>
          </tr>
          <!-- Code -->
          <tr>
            <td>
              <label for="code">{{ 'Casque.LblCode' | translate }}</label><br />
              <span class="info-readonly">{{ casque.code }}</span>
            </td>
          </tr>

          <!-- Description -->
          <tr>
            <td colspan="2">
              <label for="description">{{ 'Casque.LblDescription' | translate }}</label><br />
              <span class="info-readonly" data-ng-show="casque.description">{{ casque.description }}</span>
              <span class="info-readonly" data-ng-show="!casque.description">{{ 'Common.Aucune' | translate  }}</span>
            </td>
          </tr>


          <!-- constitué de -->
          <tr>
            <td colspan="2">
              {{ 'CasqueConstitue.Titre' | translate }}<br />
              <table class="admin-list">
                <thead>
                  <tr>
                    <th colspan="2">{{ 'CasqueConstitue.LblTypePiece' | translate }}</th>
                    <th>{{ 'CasqueConstitue.LblCouleur' | translate }}</th>
                    <th>{{ 'CasqueConstitue.LblTaille' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="p in pieces" data-ng-show="p.casqueCle == casque.cle">
                    <td>
                      {{ p.nom }}
                    </td>
                    <td>
                      <i class="fa fa-tags green" title="{{ 'CasqueConstitue.TipsPieceEtiquette' | translate }}"
                         data-ng-show="p.avecTag" />
                    </td>
                    <td>
                      {{ p.couleur.nom }}
                    </td>
                    <td>
                      {{ p.taille.nom }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="button">
              <i class="fa fa-circle-o-notch fa-spin gray" data-ng-show="processing"></i>
              <a href="#/casque">{{ 'Common.BoutonRetour' | translate }}</a>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
  <!-- Page footer -->
  <data:footer></data:footer>
</div>
