<div>
  <!-- Page header -->
  <data:header-menu data-titre="{{ 'LivraisonResume.SousTitre'| translate }}" data-niveau-menu="4"></data:header-menu>
  <!-- Contenu -->
  <div class="page-content">

    <div class="columnsContainer50">
      <div class="leftColumn">

        <table class="admin-list">
          <thead>
            <tr>
              <td colspan="4">
                <select name="mode" data-ng-model="mode" data-ng-change="getInfos();" data-ng-init="0">
                  <option value="0">{{ 'LivraisonResume.Titre0' | translate }}</option>
                  <option value="1">{{ 'LivraisonResume.Titre1' | translate }}</option>
                </select>
              </td>
            </tr>
            <!-- waiting ring -->
            <tr data-ng-show="processing">
              <td colspan="4" align="center">
                <i class="fa fa-circle-o-notch fa-spin fa-3x orange"></i>
              </td>
            </tr>
            <!-- en cas d'erreur -->
            <tr data-ng-show="error">
              <td colspan="4">
                <data:display-error></data:display-error>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-show="!livraisons || !livraisons.length">
              <td colspan="4" class="center no-data">
                {{ 'LivraisonResume.NotFound' | translate }}
              </td>
            </tr>
            <tr data-ng-repeat="x in livraisons">
              <td data-ng-if="x.nom">{{ x.nom }}</td>
              <td data-ng-if="x.nom" data-ng-bind-html="encode(x.adresseLivraisonHtml)" valign="top"></td>
              <td data-ng-if="!x.nom" colspan="2" class="red">{{ 'LivraisonResume.AucunClient' | translate }}</td>
              <td align="right" title="{{ 'LivraisonResume.TipsNombre' | translate }}">x <b>{{ x.nombre }}</b></td>
              <td align="right" title="{{ 'LivraisonResume.TipsNombrePiece' | translate }}"><b>{{ x.nombrePiece }}</b> x <i class="fa fa-copyright"></i></td>
            </tr>
          </tbody>
          <tfoot>
            <tr data-ng-show="livraisons && livraisons.length">
              <td colspan="2" class="collapse" align="right">
                {{ 'Common.LblTotal' | translate }}
              </td>
              <td class="collapse" align="center">
                <b>{{ total }}</b>
              </td>
              <td class="collapse" align="center">
                <b>{{ totalPiece }}</b>
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
      <div class="rightColumn">
        <!-- menus -->
        <ul class="menu-inter">
          <li data-ng-repeat="m in user.menus" title="{{ m.description}}" data-ng-if="m.niveau == 4">
            <a href="{{ m.url }}" data-ng-class="{'sel' : path == m.url}"><i class="fa {{ m.image}}"></i> {{ m.description }}</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <!-- Page footer -->
  <data:footer></data:footer>
</div>