<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CasqueReaderSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Casque" connectionString="Data Source=CIBOULETTE3;Initial Catalog=Casque;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- adresse IP + port du serveur -->
    <!--<add key="ServerUrl" value="http://localhost:51287" />-->
    <add key="ServerUrl" value="http://casque" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <CasqueReaderSimulator.Properties.Settings>
      <setting name="RepondOkStart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RepondOkStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RepondOkReset" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Width1" serializeAs="String">
        <value>154</value>
      </setting>
      <setting name="Width2" serializeAs="String">
        <value>417</value>
      </setting>
      <setting name="chkLecteur" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chkWriter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FrmSize" serializeAs="String">
        <value>985, 560</value>
      </setting>
    </CasqueReaderSimulator.Properties.Settings>
  </userSettings>
</configuration>