<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Casque" connectionString="Data Source=CIBOULETTE3;Initial Catalog=Casque;Persist Security Info=True;User ID=sa;Password=sasa" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- adresse IP + port du serveur -->
    <add key="ServerUrl" value="http://casque" />
    
    <!-- indique au service quel type de lecteur il doit géréer : 1 = writer, 2 = lecteur, 3 les 2 -->
    <add key="Readers" value="2" />

    <!-- Nom du fichier Backup de la base SQL Server -->
    <add key="backupPath" value="C:\Projets\Casque\Casque-{0:yyyy-MM-dd-HH-mm}.bak"/>

  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>